#container {
	width: 440px;
	height: 440px;
	margin: 0 auto;
	margin-top: 30px;
}

.rows {
	border: 3px solid black;
	width: 133px;
	height: 133px;
	float: left;
	margin: 2px;
}

.ex {
	background-image: url("../images/x.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.oh {
	background-image: url("../images/o.png");
	background-repeat: no-repeat;
	background-size: 90%;
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-clouds	{ 
	width: 100%; 
	height: 150px; 
	background-image: url('../images/clouds.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-x;
	

	-webkit-animation: animatedBackground 2s linear infinite;
}

