

@-webkit-keyframes STAR-MOVE {
	from {
		background-position: 0% 0%
	}
	to { 
		background-position: 100% 0%
	}
}

#background1 {
	background: black url(../images/background1.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 20s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#background2 {
	background: url(../images/background2.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 16s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#background3 {
	background: url(../images/background3.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#background4 {
	background: url(../images/background4.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 400;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#background5 {
	background: url(../images/background5.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 500;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#background6 {
	background: url(../images/background6.png) repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 600;
	
	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#container {
	width: 440px;
	height: 440px;
	margin: 150px auto;
	position: relative;
	z-index: 900;
}

.rows {
	border: 3px solid white;
	width: 133px;
	height: 133px;
	float: left;
	margin: 2px;
	border-radius: 4px;
}

.ex {
	background-image: url("../images/x.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.oh {
	background-image: url("../images/o.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

