#container {
	width: 440px;
	height: 440px;
	margin: 0 auto;
	margin-top: 30px;
}

.rows {
	border: 3px solid black;
	width: 133px;
	height: 133px;
	float: left;
	margin: 2px;
}

.ex {
	background-image: url("../images/x.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.oh {
	background-image: url("../images/o.png");
	background-repeat: no-repeat;
	background-size: 90%;
}

.highlight {

}