<!DOCTYPE html>
<html ng-app="ticTacToeApp">
<head>
	<title>Tic Tac Toe</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	<script src="js/angular.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>

<div id="background1"></div>
<div id="background2"></div>
<div id="background3"></div>
<div id="background4"></div>
<div id="background5"></div>
<div id="background6"></div>

<div id="container">
	<div ng-controller="BoardController" ng-model="boxes">
		<div class="rows" ng-repeat="b in boxes track by $index" ng-click="playGame(b, $index)" ng-class="{ 'ex': b.ex, 'oh': b.oh }">
		</div>
		<br />
		<button type="button" ng-click="resetBoard()">Reset Game</button>
	</div>
</div>
</body>
</html>